<link rel="stylesheet" href="../css/para_menuheader.css">
<link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
<style>
#menu_{
    width: 100%;
    background-color:#124E6B;
    padding: 0;
   
    }
#menu_movil{
    width: 100%;
    background-color:#124E6B;
    padding: 0;
   
    }    
#boton_ingreso{
    width: 100%;
    }   
#fila_1{
   
    color:aliceblue;
    font-family: fantasy;
}
.boton{
    padding: 3px;
    width: 20%;
    box-shadow: 18px 21px 20px -3px rgba(0,0,0,0.62);
    -webkit-box-shadow: 18px 21px 20px -3px rgba(0,0,0,0.62);
    -moz-box-shadow: 18px 21px 20px -3px rgba(0,0,0,0.62);
}
#btn_0{
    text-align: center;
    padding: 20px;
}    
#btn_1{
    text-align: center;
    padding: 20px;
}  
#btn_2{
    text-align: center;
    padding: 20px;
}
a{
    text-decoration: none;
    text-decoration-color: aliceblue;
    color: aliceblue;
}
#btn_0:hover{
        background-color: yellowgreen;
    }     
#btn_1:hover{
        background-color: yellowgreen;
    } 
#btn_2:hover{
        background-color: yellowgreen;
    }     
</style>
<div id= "menu_">
   <div class="row" id="fila_1">
         <div class="enlace" id="btn_movil">
            <i class="bx bx-grid-alt"></i>
            <span>MENU</span>  
        </div>
        <div class="col-md-3 col-sm-12 menu_btn" id="btn_0">
            <a href="../index.html">Home</a>          
        </div>
        <div class="col-md-3 col-sm-12 menu_btn" id="btn_1">
            <a href="../login/login.php">Area de Clientes</a>           
        </div>
        <div class="col-md-3 col-sm-12 menu_btn" id="btn_2">
            <a href="../eden.html">Eden Virgin Lands</a>          
       </div>
        <div class="col-md-3 col-sm-12 menu_btn" id="btn_2">
            <a href="../nft.html">Metaverse</a>          
       </div>
    </div>   
</div>
<div id= "menu_movil">
   <div class="row" id="fila_1">
         <div class="enlace" id="btn_cerrar">
            <span>X</span>  
        </div><br>
        <div class="col-md-3 col-sm-12 " id="btn_0">
            <a href="../index.html">Home</a>          
        </div>
        <div class="col-md-3 col-sm-12 " id="btn_1">
            <a href="../login/login.php">Area de Clientes</a>           
        </div>
        <div class="col-md-3 col-sm-12 " id="btn_2">
            <a href="../eden.html">Eden Virgin Lands</a>          
       </div>
        <div class="col-md-3 col-sm-12 " id="btn_2">
            <a href="../nft.html">Metaverse</a>          
       </div>
    </div>   
</div>
<script src="../js/para_menuheader.js"></script>